:root{
    --primary-color:#1464F4;

    --color-grey5:hsl(210,22%,49%);
    --color-grey6:hsl(209,23%,60%);
    --color-grey7:hsl(211,27%,70%);
    --color-grey8:hsl(210,31%,80%);
    --color-grey9:hsl(212,33%,89%);
    --color-white:#fff;

    --dark-shadow:0 5px 15px rgba(0,0,0,0.3);
    --light-shadow:0 5px 15px rgba(0,0,0,0.1);

    --font-primary:'Times New Roman', Times, serif;
    --spacing:.1rem;
    --radius:.5rem;


}
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
::-webkit-scrollbar{
    width: 0px;
}
body{
    font-size: 1.125rem;
    color: var(--primary-color);
}
a{
    text-transform: capitalize;
    text-decoration: none;
}
img{
    display: block;
}
h1,h2,h3,h4{
    font-family: var(--font-primary);
    letter-spacing: var(--spacing);
    text-transform: capitalize;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1rem;
}
p{
    color: var(--color-grey5);
}
#color{
    color: orangered;
    font-size: 5rem;
}
header{
    width: 50%;
    /* border: 1px solid blue; */
    margin: .5em auto;
    box-shadow: var(--light-shadow);
}
 .top-header{
    display: block;
    text-align: center;
   
}
.cartel{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
}
.rupees{
    /* border: 1px solid var(--color-grey5); */
    padding: 1rem .5rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.cartel a{
    /* border: 1px solid blue; */
    padding: .5rem 1rem;
    background-color:rgb(42, 236, 74) ;
    color: var(--color-white);
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: var(--radius);
    margin: .3em;
    margin-right: .4em;

}

.title-header{
    display: flex;
    justify-content: space-between;
    margin-top: 2em ;
    padding: 1rem .5rem;
    /* border: 1px solid rebeccapurple; */
}
.title h3{
    font-size: 2rem;
    margin-bottom: .3rem;
    font-weight: 800;
    color: orangered;
}
.title p{
    margin: .25rem;
    text-transform: capitalize;
}
.rating{
    /* border: 1px solid red; */
    font-size: 1.3rem;
    width: 100px;
    color: orangered;
}
.container{
   
    width: 50%;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 3em;
    position: relative;
}
.container-heading h2{
    font-size: 2.5rem;
    margin: 1rem .5rem;
    color: orangered;
}
.box{
    /* border: 1px solid magenta; */
    display: flex;
    padding: .375rem .5rem;
    justify-content: space-between;
    border-top: 1px solid var(--color-grey7);
    margin: .5em;
    
}
.box1{
     /* border: 1px solid orangered; */
     width:50% ;
}
.box1 h3{
    font-size: 1.7rem;
    margin: .5rem 0;
}
.box1 h4{
    margin-bottom: .3rem;
}
.box1 p{
    margin-bottom: 3rem;
}
/* .box a{
    border: 1px solid rgb(42, 236, 74);
    padding: .5rem 1rem;
    /* margin-left: 3rem; */
    /* color:rgb(42, 236, 74) ; */
/* }
.box a:hover{
    background-color:rgb(42, 236, 74) ;
    color: var(--color-white);
}  */
.box2{
    /* border: 1px solid orangered; */
  width: 150px;
  height: 200px;
  margin-right: 1em;
}
.box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.men a{
    border: 1px solid rgb(42, 236, 74);
  position: fixed;
  bottom: 100px;
  left: 850px;
  padding: .375rem .875rem;
font-size: 1.2rem;
  border-radius: 5px;
  color: rgb(42, 236, 74);
}
.men a:hover{
    background-color:rgb(42, 236, 74) ;
    color: var(--color-white);
}
.men .fas{
  color: orangered;
}

.header-box{
    display: block;
    /* border: 1px solid black; */
    width: 100%;
    height: 90px;
    
    background: #fff;
    z-index: 99;
    background: rgba(255,255,255,0.9);
    position: fixed;
    bottom: 0;
    box-shadow: var(--dark-shadow);
}
nav{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    margin: 0 auto;
    
}
.links{
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: .5em;

    
}
.links li{
    /* border: 1px solid magenta; */
    text-align: center;
    /* height: 100%; */
   /* margin: 0 1em; */
}
.links a{
    /* border: 1px solid red; */
    text-decoration: none;
    text-transform: capitalize;
    padding: .2rem 1.2rem;
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    height: 100%;

}
.links a:hover{
    color: var(--color-primary);
    box-shadow: var(--dark-shadow);
    border-radius: 10px;
}
.active-header{
    color: var(--color-primary);
}
.links p{
    color: var(--color-primary3);
    font-size: 1.2rem;
    margin: 0;
}

/* add to acrt button */
.atcart-btn{
    position: relative;
    /* border: 1px solid green; */
    width: 126px;
    height: 41px;
}
    /* text-align: center; */

.atcart-text a{
   
    position: absolute;
    border: 1px solid rgb(42, 236, 74);
    width: 100%;
    height: 100%;
    color:rgb(17, 226, 51) ;
    font-weight: 600;
    padding: .5rem .7rem;
    left: 0;
    top: 0;

}
.atcart-text a:hover{
    background-color:rgb(42, 236, 74) ;
    color: var(--color-white);
}
.atcart-sign{
    border: 1px solid rgb(16, 224, 50);
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   
   
}
.at-btn{
    background: transparent;
    font-size: 1.9rem;
    padding: 0 .7rem;
    margin: .1rem .35em;
    border: none;
    color: rgb(17, 226, 51);
    cursor: pointer;
    
}
.cart{
    /* border: 1px solid red; */
    height: 20px;
    font-size: 1.9rem;
    color: rgb(16, 224, 50);
    /* margin-top: .3em; */
}

.cart-color{
    font-size: 1.9rem;
    color: rgb(10, 194, 10);
}
.cart-display{
    display: none;
}

input[type='submit']{

    font-weight: 520;
    font-size: 1.2rem;
    padding: .5rem .7rem;
    margin: .1rem .35em;
    background:  rgb(16, 224, 50);
    color: var(--color-white);
    cursor: pointer;
    border: transparent;
    margin-right: 1em;
    
}
input[type='submit']:hover{
    background:rgb(13, 179, 13) ;
}
.all-btn{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.off-cart{
    display: none;
}

.space{
    /* border: 1px solid red; */
    width: 100%;
    height: 100px;
}